<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{url_for('static', filename='js/upc_log_final.js')}}"></script>
        <link href="{{url_for('static', filename='styles/upc_log_final.css')}}" rel="stylesheet">
    </head>
    <body>
      <div class="card">
        <!--<div class="check-mark-div">-->
        <!--    <i class="checkmark">✓</i>-->
        <!--</div>-->

        <h1>UPC saved successfully</h1>

        <p class="scan-confirmation">Scanned &amp; saved {{upc}}<br><br>{{store}}<br><br></p>

        <div id="manually-add-upc-button-div" style="display:block">
            <button type="submit" onclick="handle_add_new_upc()">Manually Add New UPC</button>
        </div>

        <div id="add-upc-input-div" style="display:none">
            <input type="number" id="add-upc-input" placeholder="UPC number (12 digits)" style="font-size:16px">
            <br>
            <button type="submit" id="submit-new-upc" onclick="submit_add_new_upc()" style="weight:800; font-size:16px">Submit</button>
            <button type="submit" id="remove-manually-typed-upc" onclick="submit_remove_manually_typed_upc()" style="weight:800; font-size:16px">Delete</button>
            <br>
        </div>
            <p><span id="upc-length-error" style="display:none; transition:0.08s; font-size:18;">Error. UPC number must be 12 digits</span></p>

        <button type="submit" id="remove-upc" onclick="submit_upc_removal()">Remove UPC</button>
        <br>
        <br>

        <button type="submit" id="reset-and-remove" onclick="submit_reset_store_and_upc_remove()">Switch Store &amp; Remove UPC</button>
        <br>
        <br>

        <label id="hidden-label" style="color:red;display:none">UPC Removed. You may now go back to scanner</label>
        <br>
      </div>

      <script>
          var store_name = "{{store}}";
          var upc_number = "{{upc}}";
      </script>
    </body>
</html>
