<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>UPC Logger</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="{{url_for('static', filename='styles/select2.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='styles/upc_log_form.css')}}" rel="stylesheet">
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/select2.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/upc_log_form.js')}}"></script>

        <script>
            var CATEGORIZED_STORES = JSON.parse('{{categorized_stores | tojson | safe}}');
        </script>
    </head>
    <body onload="populate_store_options();">
        <header class="main-view">
            <img src="{{url_for('static', filename='images/logo-1.png')}}"/>
        </header>
        <main class="main-view">
            <section id="m1-store-picker">
                <div class="sub-section-1">
                    <label for="upc-number">UPC number scanned</label>
                    <input type="number" id="upc-number" value="{{upc}}">
                    <strong id="upc-error" class="error-message alert hidden"></strong>
                </div>
                <div class="sub-section-1">
                    <label for="person-dropdown">Whose store?</label>
                    <select id="person-dropdown">
                        {% for name, _ in categorized_stores.items() %}
                        <option value="{{name}}">{{name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="sub-section-1">
                    <label for="store-dropdown">Select a store</label>
                    <select id="store-dropdown"></select>
                    <strong id="store-error" class="error-message alert hidden"></strong>
                </div>
                <div class="sub-section-1">
                    <button onclick="handle_scan_submit()">Submit</button>
                </div>
            </section>

            <section id="m2-currently-submitting" class="hidden">
                <div class="sub-section-1 sub-section-header">
                    <h1>Submitting...</h1>
                    <p>Attempting to connect to server</p>
                </div>
            </section>

            <section id="m3-submission-successful" class="hidden">
                <div id="scan-info" class="sub-section-1 sub-section-header">
                    <h1>Submission Successful</h1>
                    <p>Saved <span id="upc-submitted" class="submitted-data"></span></p>
                    <p id="store-name-submitted" class="submitted-data"></p>
                </div>
                <div class="sub-section-1">
                    <button onclick="handle_upc_removal()">Remove this UPC</button>
                    <button onclick="handle_reset_store_and_upc_remove()">Switch Store &amp; Remove this UPC</button>
                    <button onclick="handle_reset_store()">Switch Store</button>
                    <button onclick="toggle_to_manual_mode()">Manually Add / Remove New UPC</button>
                </div>
                <strong id="upc-removal-successful" class="success-message alert hidden">UPC Removed. You may now go back to scanner</strong>
            </section>

            <section id="m4-manual-buttons" class="hidden">
                <div class="sub-section-1 sub-section-header">
                    <label>Manual submission mode for</label>
                    <h1 id="manual-store-name"></h1>
                </div>
                <div class="sub-section-1">
                    <label for="manual-upc-number">Input a UPC Number</label>
                    <input type="number" id="manual-upc-number">
                </div>
                <div class="sub-section-1">
                    <button onclick="handle_action_manual_upc('add')">Add UPC</button>
                    <button onclick="handle_action_manual_upc('remove')">Remove UPC</button>
                    <strong id="manual-action-successful" class="success-message alert hidden">UPC submitted successfully</strong>
                    <strong id="manual-action-error" class="error-message alert hidden"></strong>
                </div>
            </section>
        </main>

        <script>
            window.previously_submitted_store_name = 'TEST';
        {% if is_continue_previous_store %}
            window.previously_submitted_store_name = "{{previous_store | safe}}";
            console.log(`Previous store from cookies is "${window.previously_submitted_store_name}"`);
            submit_upc("{{upc}}", window.previously_submitted_store_name);
        {% else %}
            console.log('is_continue_previous_store is False');
        {% endif %}
        </script>
    </body>
</html>
