<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
      }
    </style>
    <body>
      <form method="post" action="{{ url_for('app_upc_logger.route_log_final') }}">
        <label for="UPC">Title</label>
        <br>
        <input type="text" name="upc_value" readonly
               value="{{upc_scanned}}"></input>
        <br>

        <label for="content">Stores list</label>
        <br>
        <select name="store_select" method="GET" action="/">
          <option value="{{stores[0]}}" selected>{{stores[0]}}</option>
          {% for store in stores[1:] %}
            <option value="{{store}}">{{store}}</option>
          {% endfor %}
        </select>
        <br>
        <button type="submit">Submit</button>
      </form>




    </body>
</html>
