body {
    margin: 0.75rem;
}

.all-container {
    max-height:1000px;
    max-width:1000px;
    margin: 0 auto;
    border-radius: 0.28rem;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 2px #80808085;
    padding: 1.25rem;
}

.logo {
    display: block;
    max-height: 500px;
    max-width:500px;
    width: 100%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    /*width: auto;*/
    /*height: auto;*/
    /*object-fit: cover;*/
    /*width: 100%;*/
    /*min-height: 100%;*/
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.btn-main-menu {
    width: 100%;
    max-width: 600px;
    background-color: #0276FF;
    color: white;
    padding: 0.8rem 1.25rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-main-menu:hover {
    background-color: #0057bd;
}

.scan-info {
    text-align: center;
    padding: 2.5rem 0;
    padding-top: 1.25rem;
}

.scan-confirmation-header {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.scan-confirmation-header h1 {
    margin: 0;
}

#m-upc-saved-message {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 1.25rem;
    margin: 0;
}

#upc-removed-label {
    font-size:1.15rem;
    color: red;
    display: none;
}

.main-view-btn {
    text-align: center;
}

.btn-manual {
    border: none;
    border-radius: 0.28rem;
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
}

#btn-new-upc-manual {
    background-color: #0276FF;
    border: none;
    border-radius: 2.5rem;
    /*width: 200px;*/
/*     height: 50px; */
/*     padding: 8px 15px; */
    cursor: pointer;
    margin-left: 0.65rem;
}

#btn-new-upc-manual:hover {
    background-color: #0057bd;
}

#btn-remove-upc-manual {
    border-radius:2.5rem;
    background-color:#f92f2f;
    margin-left: 0.28rem;
}

#btn-remove-upc-manual:hover {
    background-color: #e03030;
}


